# Cloud free?

In [10]:
# imports
import os
import numpy as np

from ulmo import io as ulmo_io

# Load me

In [3]:
local_modis_file = os.path.join(os.getenv('SST_OOD'),
                                    'MODIS_L2/Tables/MODIS_L2_std.parquet')

In [4]:
modis_tbl = ulmo_io.load_main_table(local_modis_file)

Read main table: /data/Projects/Oceanography/AI/OOD/SST/MODIS_L2/Tables/MODIS_L2_std.parquet

In [5]:
modis_tbl.head()

,lat,lon,col,datetime,LL,row,clear_fraction,mean_temperature,Tmin,Tmax,...,pp_root,field_size,pp_type,pp_idx,U0,U1,zonal_slope,merid_slope,zonal_slope_err,merid_slope_err
0,13.980967,62.675774,517,2003-03-10 21:25:00,520.178711,304,0.000000,26.199476,25.250000,26.885000,...,standard,128,0,0,-2.209477,5.983506,-1.186275,-2.126147,0.137467,0.224244
1,13.043748,-102.751816,706,2003-12-12 08:30:00,432.766724,1696,0.049805,28.924648,27.789999,29.654999,...,standard,128,0,1,-2.575606,6.238604,-0.678604,-0.904867,0.115963,0.128991
2,-18.086618,40.844833,581,2003-09-24 22:35:00,764.413086,656,0.006104,25.551611,24.775000,26.154999,...,standard,128,0,2,-4.080777,6.772544,-0.723022,-0.590398,0.076410,0.052984
3,39.071575,18.569141,1028,2003-05-01 01:05:00,371.310120,898,0.049988,16.414951,15.160000,17.205000,...,standard,128,0,3,-0.867894,7.890549,-1.370202,-1.285166,0.187732,0.101415
4,17.901926,90.155480,997,2003-12-05 19:55:00,-214.759277,1520,0.035461,26.744499,24.975000,28.724998,...,standard,128,0,4,4.985051,7.191708,-1.902952,-2.023731,0.232980,0.235537

In [6]:
modis_tbl.keys()

Index(['lat', 'lon', 'col', 'datetime', 'LL', 'row', 'clear_fraction',
       'mean_temperature', 'Tmin', 'Tmax', 'T90', 'T10', 'filename', 'UID',
       'pp_file', 'pp_root', 'field_size', 'pp_type', 'pp_idx', 'U0', 'U1',
       'zonal_slope', 'merid_slope', 'zonal_slope_err', 'merid_slope_err'],
      dtype='object')

# Restrict

## Year 2010

In [8]:
y2010 = modis_tbl.pp_file == 's3://modis-l2/PreProc/MODIS_R2019_2010_95clear_128x128_preproc_std.h5'

In [11]:
np.sum(y2010)

678557

## Cloud free

In [14]:
cloud_free = modis_tbl.clear_fraction < 0.01
np.sum(cloud_free)

3966903

In [15]:
np.sum(y2010 & cloud_free)

205568