In [1]:
# GOAL: get a L2 cutout date and time at low longitude and high longitude
# see what date it is extracting from L3

import xarray
import numpy as np
import pandas
import h5py
import datetime

In [2]:
l3s = pandas.read_parquet('/Users/rachelstumpf/SST_L3S_VIIRS.parquet')
gd_date = l3s.datetime <= datetime.datetime(2012,2,2)
df = l3s[gd_date]

In [3]:
df[['lon', 'VIIRS_datetime', 'VIIRS_UID']].sort_values(by=['lon'])

            lon      VIIRS_datetime            VIIRS_UID
1329 -179.84679 2012-02-02 14:00:00     1328130134015321
387  -179.83559 2012-02-01 14:20:00     1328126105416441
28   -179.58327 2012-02-01 01:50:00     1328103567741673
29   -178.89117 2012-02-01 01:50:00    13281042787110883
31   -177.80217 2012-02-01 01:50:00    13281100437219783
...         ...                 ...                  ...
389   169.14713 2012-02-01 14:20:00  1328109224134914713
391   169.74101 2012-02-01 14:20:00  1328108472734974101
390   169.90172 2012-02-01 14:20:00  1328109097034990172
388   170.06294 2012-02-01 14:20:00  1328109721435006294
27    179.82285 2012-02-01 01:50:00  1328102862635982285

[1364 rows x 3 columns]

In [4]:
# okay we're going to look at 
# CUTOUT 1: VIIRS_UID = 1328126105416441, lon = 179.83559, index = 387
# CUTOUT 2: VIIRS_UID = 1328102862635982285, lon = 179.82285, index = 27

cutout_1 = df[(df['VIIRS_UID'] == 1328126105416441)]
cutout_2 = df[(df['VIIRS_UID'] == 1328102862635982285)]

In [5]:
# cutout 1 and time conversions

cutout_1['VIIRS_datetime']

#base_datetime = pandas.to_datetime(cutout_1['VIIRS_datetime']).dt.date.astype(str) + ' 01:30:00'

 #   base_datetime = pandas.to_datetime(base_datetime, format='%Y-%m-%d %H:%M:%S')
 #   l3s['datetime'] = (base_datetime + pandas.to_timedelta(l3s['VIIRS_lon'] * 4, unit='minutes')).dt.round('S')

387   2012-02-01 14:20:00
Name: VIIRS_datetime, dtype: datetime64[ns]

In [6]:
# take the VIIRS date, convert it to L3S date,
# you selected it based on the VIIRS date anyway, 
# what you need to do is select on closest L3S date

base_datetime = pandas.to_datetime(cutout_1['VIIRS_datetime']).dt.date.astype(str) + ' 01:30:00'
base_datetime = pandas.to_datetime(base_datetime, format='%Y-%m-%d %H:%M:%S')
given_date = (base_datetime + pandas.to_timedelta(cutout_1['VIIRS_lon'] * 4, unit='minutes')).dt.round('S')

In [7]:
# take this given date: 
# If it is before 12:00:00 on the original VIIRS date, we want to take the L3S cutout from that VIIRS date
# If it is after 12:00:00 on the previous day's VIIRS date, we want to take the L3S cutout from that VIIRS date
# If it is before 12:00:00 on the previous day's VIIRS date, we want to take the L3S cutout from the previous VIIRS date
# If it is after 12:00:00 on the original VIIRS date, we want to take the L3S cutout from the next VIIRS date

given_date = given_date.dt.date
viirs_date = cutout_1['VIIRS_datetime'].dt.date

In [8]:
viirs_date = cutout_1['VIIRS_datetime'].dt.date
desired_time = datetime.time(1, 30, 0)
combined_datetime = datetime.datetime.combine(viirs_date.iloc[0], desired_time)

datetime = (combined_datetime + pandas.to_timedelta(cutout_1['VIIRS_lon'] * 4, unit='minutes')).round('S')
datetime

387   2012-01-31 13:30:39
Name: VIIRS_lon, dtype: datetime64[ns]

In [9]:
# viirs_date = datetime.datetime.combine(cutout_1['VIIRS_datetime'].dt.date.iloc[0], desired_time)
# viirs_date_minus1 = datetime.datetime.combine(cutout_1['VIIRS_datetime'].dt.date.iloc[0] - datetime.timedelta(days=1), desired_time)
# viirs_date_plus1 = datetime.datetime.combine(cutout_1['VIIRS_datetime'].dt.date.iloc[0] + datetime.timedelta(days=1), desired_time)

In [10]:
# re-run extractions to see if anything with data size has changed?
# it appears that even when a cutout is very low or very high longitude, it is not enough to shift it more than
# 12 hours away from the 1:30 am time so they are usually just on the same day as the VIIRS cutout