# Cloud free?

In [2]:
# imports
import os
import numpy as np

import h5py

from ulmo import io as ulmo_io

# Load me

In [3]:
local_modis_file = os.path.join(os.getenv('SST_OOD'),
                                    'MODIS_L2/Tables/MODIS_L2_std.parquet')

In [4]:
modis_tbl = ulmo_io.load_main_table(local_modis_file)

Read main table: /data/Projects/Oceanography/AI/OOD/SST/MODIS_L2/Tables/MODIS_L2_std.parquet

In [5]:
modis_tbl.head()

,lat,lon,col,datetime,LL,row,clear_fraction,mean_temperature,Tmin,Tmax,...,pp_root,field_size,pp_type,pp_idx,U0,U1,zonal_slope,merid_slope,zonal_slope_err,merid_slope_err
0,13.980967,62.675774,517,2003-03-10 21:25:00,520.178711,304,0.000000,26.199476,25.250000,26.885000,...,standard,128,0,0,-2.209477,5.983506,-1.186275,-2.126147,0.137467,0.224244
1,13.043748,-102.751816,706,2003-12-12 08:30:00,432.766724,1696,0.049805,28.924648,27.789999,29.654999,...,standard,128,0,1,-2.575606,6.238604,-0.678604,-0.904867,0.115963,0.128991
2,-18.086618,40.844833,581,2003-09-24 22:35:00,764.413086,656,0.006104,25.551611,24.775000,26.154999,...,standard,128,0,2,-4.080777,6.772544,-0.723022,-0.590398,0.076410,0.052984
3,39.071575,18.569141,1028,2003-05-01 01:05:00,371.310120,898,0.049988,16.414951,15.160000,17.205000,...,standard,128,0,3,-0.867894,7.890549,-1.370202,-1.285166,0.187732,0.101415
4,17.901926,90.155480,997,2003-12-05 19:55:00,-214.759277,1520,0.035461,26.744499,24.975000,28.724998,...,standard,128,0,4,4.985051,7.191708,-1.902952,-2.023731,0.232980,0.235537

In [6]:
modis_tbl.keys()

Index(['lat', 'lon', 'col', 'datetime', 'LL', 'row', 'clear_fraction',
       'mean_temperature', 'Tmin', 'Tmax', 'T90', 'T10', 'filename', 'UID',
       'pp_file', 'pp_root', 'field_size', 'pp_type', 'pp_idx', 'U0', 'U1',
       'zonal_slope', 'merid_slope', 'zonal_slope_err', 'merid_slope_err'],
      dtype='object')

# Restrict

## Year 2010

In [8]:
y2010 = modis_tbl.pp_file == 's3://modis-l2/PreProc/MODIS_R2019_2010_95clear_128x128_preproc_std.h5'

In [11]:
np.sum(y2010)

678557

## Cloud free

In [14]:
cloud_free = modis_tbl.clear_fraction < 0.01
np.sum(cloud_free)

3966903

In [15]:
np.sum(y2010 & cloud_free)

205568

In [16]:
tmp = np.arange(100)

In [19]:
modis_tbl.iloc[tmp]

,lat,lon,col,datetime,LL,row,clear_fraction,mean_temperature,Tmin,Tmax,...,pp_root,field_size,pp_type,pp_idx,U0,U1,zonal_slope,merid_slope,zonal_slope_err,merid_slope_err
0,13.980967,62.675774,517,2003-03-10 21:25:00,520.178711,304,0.000000,26.199476,25.250000,26.885000,...,standard,128,0,0,-2.209477,5.983506,-1.186275,-2.126147,0.137467,0.224244
1,13.043748,-102.751816,706,2003-12-12 08:30:00,432.766724,1696,0.049805,28.924648,27.789999,29.654999,...,standard,128,0,1,-2.575606,6.238604,-0.678604,-0.904867,0.115963,0.128991
2,-18.086618,40.844833,581,2003-09-24 22:35:00,764.413086,656,0.006104,25.551611,24.775000,26.154999,...,standard,128,0,2,-4.080777,6.772544,-0.723022,-0.590398,0.076410,0.052984
3,39.071575,18.569141,1028,2003-05-01 01:05:00,371.310120,898,0.049988,16.414951,15.160000,17.205000,...,standard,128,0,3,-0.867894,7.890549,-1.370202,-1.285166,0.187732,0.101415
4,17.901926,90.155480,997,2003-12-05 19:55:00,-214.759277,1520,0.035461,26.744499,24.975000,28.724998,...,standard,128,0,4,4.985051,7.191708,-1.902952,-2.023731,0.232980,0.235537
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,28.401287,-45.495354,485,2003-08-10 04:45:00,283.588318,528,0.046814,27.789036,26.730000,28.545000,...,standard,128,0,95,0.902466,8.295392,-1.321589,-1.448842,0.096536,0.094340
96,39.676930,12.912404,261,2003-07-15 00:45:00,406.291748,1616,0.000061,27.372808,26.480000,28.349998,...,standard,128,0,96,1.672698,8.556923,-1.743409,-1.104188,0.088631,0.168535
97,68.270500,-11.948500,632,2003-04-12 03:45:00,83.249451,402,0.048401,0.972715,0.185000,2.245000,...,standard,128,0,97,3.773006,9.801711,-2.537361,-1.739796,0.127235,0.182993
98,12.504951,94.380860,206,2003-04-26 19:00:00,125.835571,1648,0.048157,30.507929,29.045000,32.594997,...,standard,128,0,98,-0.158122,7.542377,-1.537948,-1.535529,0.274891,0.150436
99,-17.818693,119.291016,389,2003-07-10 17:15:00,366.696899,48,0.000000,26.233852,24.955000,27.035000,...,standard,128,0,99,-0.018840,8.896789,-1.983787,-2.179395,0.109933,0.117154

----

# Image format

## Cloud free

In [3]:
cloud_free_file = 'MODIS_SSL_cloud_free_images.h5'

In [5]:
cf_h5 = h5py.File(cloud_free_file, 'r')

In [7]:
cf_h5['train'].shape

(600000, 64, 64)

In [11]:
cf_h5['valid'].shape

(150000, 64, 64)

In [15]:
cf_h5.close()

## Standard

In [8]:
std_file = '/data/Projects/Oceanography/AI/OOD/SST/MODIS_L2/PreProc/MODIS_R2019_2019_95clear_128x128_preproc_std.h5'

In [12]:
std_h5 = h5py.File(std_file, 'r')

In [13]:
std_h5['valid'].shape

(751689, 1, 64, 64)

In [16]:
std_h5.close()

## Fix

In [14]:
orig_cloud_free_file = 'MODIS_SSL_cloud_free_images_orig.h5'

In [18]:
orig_cf_h5 = h5py.File(orig_cloud_free_file, 'r')

In [27]:
valid_imgs = orig_cf_h5['valid'][:]

In [20]:
valid_imgs.shape

(150000, 64, 64)

In [21]:
train_imgs = orig_cf_h5['train'][:]

### Reshape

In [24]:
train_imgs = train_imgs.reshape((train_imgs.shape[0],1,64,64))
train_imgs.shape

(600000, 1, 64, 64)

In [28]:
valid_imgs = valid_imgs.reshape((valid_imgs.shape[0],1,64,64))

### Indices

In [22]:
train_indices = orig_cf_h5['train_indices']
valid_indices = orig_cf_h5['valid_indices']

### Write

In [29]:
# Write
out_h5 = h5py.File(cloud_free_file, 'w')
out_h5.create_dataset('train', data=train_imgs) 
out_h5.create_dataset('train_indices', data=train_indices)  # These are the cloud free indices
out_h5.create_dataset('valid', data=valid_imgs) 
out_h5.create_dataset('valid_indices', data=valid_indices)  # These are the cloud free indices
out_h5.close()